@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-14 w-14 mt-2 mx-auto shadow-lg
        bg-gray-800 text-green-500
        hover:bg-green-600
        rounded-3xl hover:rounded-xl
        transition-all duration-300;
  }

  .add-cart {
    @apply flex items-center justify-center mt-3 shadow-lg
        bg-blue-500 text-white
        hover:bg-green-500
        h-8 w-28
        rounded-md
        hover:rounded-xl
        active:bg-green-800
        transition-all duration-300;
  }

  .remove-cart {
    @apply flex items-center justify-center mt-3 shadow-lg
        bg-red-500 text-white
        hover:bg-red-700
        h-8 w-28
        rounded-md
        hover:rounded-xl
        active:bg-red-800
        transition-all duration-300;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 mt-[6.5rem] min-w-max rounded-md shadow-md
    text-white bg-gray-900
    text-sm font-bold
    transition-all duration-500 scale-0 origin-top;
  }
}
